<h3 class="text-center">
	Done tasks
</h3>
<table class="table">
	<tr>
		<th>#</th>
		<th>Task {{i}}</th>
	</tr>

	{{#each tasks}}
	<tr>
	{{#if this.done}}
		<td>{{@index}}</td>
		<td>{{this.name}}</td>
	{{/if}}
	</tr>
	{{/each}}

</table>