body{
	font-family: Calibri 18px;
	background: #555;
	color: #fff;
}

a{
	display: block;
	color: gold;
	font-weight: bold;
}

#test{
	border: 3px dashed #fff;
	height: 600px;
	width: 400px;
	margin: auto;
	background: #777;
}